{% if rwx_pv_number|int > 0 and rwx_pv_pg_number|int > 0 %}
{% for pv in volume_list.stdout_lines[0: rwx_pv_number|int] %}
{% set pv_access_mode = "ReadWriteMany" %}
{% set size = loop.index0 // rwx_pv_pg_number|int %}
---
apiVersion: v1
kind: PersistentVolume
metadata: 
   name: {{ pv }}
spec: 
   capacity: 
      storage: {{ pv_sizes[size] }}
   accessModes: [ {{ pv_access_mode }} ]
   nfs: 
      path: {{ pv_vol_path }}/{{ pv }}
      server: {{ nfs_server_fqdn }}
   persistentVolumeReclaimPolicy: Recycle

{% endfor %}
{% endif %} 

{% if rwo_pv_number|int > 0 and rwo_pv_pg_number|int > 0 %}
{% for pv in volume_list.stdout_lines[rwo_pv_number|int : ] %}
{% set pv_access_mode = "ReadWriteOnce" %}
{% set size = loop.index0 // rwo_pv_pg_number|int %}
---
apiVersion: v1
kind: PersistentVolume
metadata:
   name: {{ pv }}
spec:
   capacity:
      storage: {{ pv_sizes[size] }}
   accessModes: [ {{ pv_access_mode }} ]
   nfs:
      path: {{ pv_vol_path }}/{{ pv }}
      server: {{ nfs_server_fqdn }}
   persistentVolumeReclaimPolicy: Recycle

{% endfor %}
{% endif %}
---
