
{% set pv_type_total = pv_number // 2  %}
{% set cap_number = pv_sizes | length %}
{% set pv_group_total = pv_type_total // cap_number %}

{% for v in range(pv_type_total) %}

{% for vsize in pv_sizes %}

{% for i in range(pv_group_total) %}
Hello
---
{
  "apiVersion": "v1",
  "kind": "PersistentVolume",
  "metadata": {
    "name": "{{ pv_vol_prefix }}{{ v }}"
  },
  "spec": {
    "capacity": {
        "storage": "{{ vsize }}"
    },
    "accessModes": [ "ReadWriteMany" ],
    "nfs": {
        "path": "{{ pv_vol_path }}/{{ pv_vol_prefix }}{{ v }}",
        "server": "{{ nfs_server_fqdn }}"
    },
    "persistentVolumeReclaimPolicy": "Recycle"
  }

{% endfor %}

{% endfor %}

{% endfor %}
