apiVersion: v1
kind: Service
metadata:
  name: "{{ jenkins_node_name }}"
  labels:
    name: "{{ jenkins_node_name }}"
spec:
  type: NodePort
  ports:
    - port: 50000
      nodePort: "{{ jenkins_slave_nodeport }}"
      name: http
  selector:
    name: "{{ jenkins_node_name }}"
